.trans:hover {

  transform: scale(1.1);

  box-shadow: 0px 0px 20px rgba(19, 36, 26, 0.6);

}
.trans{
  transition: transform 0.3s ease;
 
  
 
}
.tran:hover {
  transform: translateY(-10px);
  

}
.tran{
  transition: transform 0.3s ease;
  
}




.accordion-body{
    font-size: 10px;
}
.tocart{
    width: 200px;
    height: 100px;
}
.footlong{
  background-color: #292827;
  color: rgb(222, 231, 240, .5);
}


.samplemodal{
    
    background-image: url(images/2521.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    border-style: none;
}
.modal-content{
    height: 700px;
    width: 900px;
    background-color:#F2BB8F;
    background-image: url(images/bg1.png);
    background-repeat: repeat;
    background-size: 500px;

}
.modal-title{
   align-items: center;
   padding-left: 165px;
  
  
}
.modal-image{
 

}
.modal-body{
   /* background-image: url(images/bg1.png);
  background-repeat: repeat;
  background-size: 500px;
   */
    
    
    
}
.RandM {
 
   
    color: rgb(202, 202, 206);

}
.head{
    background-image: url(images/toonme.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
   
}
body{
    background-color:#f7b573;
    background-image: url(images/bg2.png);
    background-size: 80% ;
    background-repeat: repeat;
    background-position: center center;
    height: 400px;
}
.picture{
   left:70px;
   width: 100%;
   height: 250px;
}
.pictureactual{
    width: 100%;
    height: 250px; 
    padding: 0;
}
/* .collapse-horizontal {
    transition: height .5s ease;
  } */

  /* animations on free shipping*/
.running{
    top: 250px;

}
  @keyframes move-right {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }


.pad{
    animation: move-right 1s forwards;
    height: 150px;
    width: 150px;
 
    
  }
  /* pop-out */
  @keyframes pop {
    from {
      transform: translateY(-50%);
      opacity: 0;
    }
    to {
      transform: translateY(-100%);
      opacity: 1;
    }
  }

  .popout {
    position: absolute;
  left: 76%;
  
    opacity: 0;
    animation: pop .8s forwards;
    animation-delay: .7s;
   
    width: 150px;
    height: 150px;
  }
  /* .poopout {
    position: absolute;
  left: 76%;
  
    opacity: 0;
    animation: blink .8s ease-in-out infinite;
    animation-delay: 1.5s;
   
    width: 150px;
    height: 150px;
    bottom: 130px;
  } */



/* 
  animations customer service */


  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
 
  }

  .shine {
    opacity: 0;
    width: 350px;
    height: 200px;
    padding-left: 100px;
    padding-top: 100px;
   
    animation: blink 1s ease-in-out forwards;
    animation-delay: 2.2s;
    
  }
  
  .chat{
    width: 150px;
    height: 150px;
    animation: ship .5s forwards;
    animation-delay: 1.7s;
    top: 200px;
    bottom: -200px;
    left: 300px;
    position: absolute;
    opacity: 0;
  }
  @keyframes ship {
    from {
      transform: translateX(60%);
      opacity: 0;
    }
    to {
      transform: translateX(-100%);
      opacity: 1;
    }
  }
  .neonlights{
 
    animation: blink 1s ease-in-out infinite;
    animation-delay: 2.2s;
  }
/* media queries */
@media(max-width:500px){
  .head{
    margin-top: 0;
    padding-top: 0; 
    height: 200px;
   
 }
 

  .chat{
    width: 80px;
    height: 85px;
   
    top: -10px;
  
    left: 120px;
    position: absolute;
    opacity: 0;
  }

 .shine {
    opacity: 0;
    width: 110px;
    height: 50px;
    padding-left: 30px;
    padding-top: 20px;
    margin-top: -60px;
   
    
  }
  .popout {
  left: 76%;
    width: 50px;
    height: 60px;
    margin-bottom: 80px;
    margin-top: -120px;
  }
  .pad{
    margin-left: 110px;
    height: 70px;
    width: 50px;
   
    margin-top: -120px;
    
   
  }
  
}